<plugin>
	<nom>Allerdata</nom>
	<auteur>	<!-- Auteur du plugin -->
 	[Cedric Morin->http://www.yterium.net]
_ pour Allerdata SARL
_ &#169; 2008 - Licence GPL
	</auteur>
	<version>0.1.0.0</version>
	<version_base>0.1.1.0</version_base>
	<etat>stable</etat>
	<description>Admin d'Allerdata</description>
	<lien></lien> <!-- URI de documentation -->
	<prefix>allerdata</prefix>
	<fonctions>allerdata_fonctions.php</fonctions>
	<fonctions>public/allerdata_criteres.php</fonctions>
	<install>base/allerdata_upgrade.php</install>
	<bouton id='allerdata'>
		<titre>Allerdata</titre>
		<icone>img_pack/allerdata-48.gif</icone>
		<url>allerdata</url>
	</bouton>
	<bouton id='comptes' parent='allerdata'>
		<titre>allerdata:comptes</titre>
		<icone>img_pack/compte-24.gif</icone>
		<url>allerdata</url>
		<args>page=comptes</args>
	</bouton>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>allerdata_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/allerdata.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/allerdata.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/allerdata.php</inclure>
	</pipeline>
	<pipeline>
		<nom>rechercher_liste_des_champs</nom>
		<inclure>allerdata_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>allerdata_autoriser.php</inclure>
	</pipeline>
	<pipeline>
		<nom>pre_edition</nom>
		<action>versionne_item</action>
		<inclure>action/editer_tbl_item.php</inclure>
	</pipeline>
	<pipeline>
		<nom>afficher_contenu_objet</nom>
		<inclure>allerdata_pipelines.php</inclure>
	</pipeline>
</plugin>