<plugin>
	<nom>Allergenes</nom>
	<auteur>	<!-- Auteur du plugin -->
 	[Cedric Morin->http://www.yterium.net]
_ pour Allerdata SARL
_ &#169; 2008 - Licence GPL
	</auteur>
	<icon>allergene-32.png</icon>
	<version>0.1.0.0</version>
	<version_base>0.1.0.0</version_base>
	<etat>stable</etat>
	<description>Administration des Allergenes</description>
	<lien></lien> <!-- URI de documentation -->
	<prefix>aller_allergenes</prefix>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>aller_allergenes_autoriser.php</inclure>
	</pipeline>
	<bouton id='allergenes' parent='allerdata'>
		<titre>allerdata:allergenes</titre>
		<icone>images/allergene-16.png</icone>
		<url>allerdata</url>
		<args>page=allergenes</args>
	</bouton>
	<necessite id='allerdata' version="[;]" />
	<necessite id='aller_ftaxo' version="[;]" />
	<necessite id='aller_fmol' version="[;]" />
	<necessite id='aller_sources' version="[;]" />
	<necessite id='aller_produits' version="[;]" />
</plugin>