<plugin>
	<nom>Familles taxonomiques</nom>
	<auteur>	<!-- Auteur du plugin -->
 	[Cedric Morin->http://www.yterium.net]
_ pour Allerdata SARL
_ &#169; 2008 - Licence GPL
	</auteur>
	<version>0.1.0.0</version>
	<version_base>0.1.0.0</version_base>
	<etat>stable</etat>
	<description>Administration des Familles taxonomiques</description>
	<lien></lien> <!-- URI de documentation -->
	<prefix>aller_ftaxo</prefix>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>aller_ftaxo_autoriser.php</inclure>
	</pipeline>
	<bouton id='ftaxo' parent='allerdata'>
		<titre>allerdata:famille_taxos</titre>
		<icone>img_pack/famille_taxo-24.png</icone>
		<url>allerdata</url>
		<args>page=famille_taxos</args>
	</bouton>
	<necessite id='allerdata' version="[;]" />
</plugin>