<plugin>
	<nom>Familles Mol&eacute;culaires</nom>
	<auteur>	<!-- Auteur du plugin -->
 	[Cedric Morin->http://www.yterium.net]
_ pour Allerdata SARL
_ &#169; 2008 - Licence GPL
	</auteur>
	<version>0.1.0.0</version>
	<version_base>0.1.0.0</version_base>
	<etat>stable</etat>
	<description>Administration des Familles mol&eacute;culaires</description>
	<lien></lien> <!-- URI de documentation -->
	<prefix>aller_fmol</prefix>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>aller_fmol_autoriser.php</inclure>
	</pipeline>
	<bouton id='fmol' parent='allerdata'>
		<titre>allerdata:famille_mols</titre>
		<icone>img_pack/album-red-24.png</icone>
		<url>allerdata</url>
		<args>page=famille_mols</args>
	</bouton>
	<necessite id='allerdata' version="[;]" />
	<necessite id='aller_ftaxo' version="[;]" />
</plugin>