<plugin>
	<nom>Mini-textes</nom>
	<auteur>	<!-- Auteur du plugin -->
 	[Cedric Morin->http://www.yterium.net]
_ pour Allerdata SARL
_ &#169; 2008 - Licence GPL
	</auteur>
	<version>0.1.0.0</version>
	<version_base>0.1.0.3</version_base>
	<etat>stable</etat>
	<description>Gestion des mini-textes sur produits et couples de produits</description>
	<lien></lien> <!-- URI de documentation -->
	<prefix>minitext</prefix>
	<install>base/minitext.php</install>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/minitext.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/minitext.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/minitext.php</inclure>
	</pipeline>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>minitext_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>rechercher_liste_des_champs</nom>
		<inclure>minitext_pipelines.php</inclure>
	</pipeline>
	<bouton id='minitext' parent='allerdata'>
		<titre>allerdata:minitextes</titre>
		<icone>img_pack/minitexte-24.png</icone>
		<url>allerdata</url>
		<args>page=minitextes</args>
	</bouton>
	<necessite id='allerdata' version="[;]" />
	<utilise id='aller_allergenes' version="[;]" />
</plugin>