html, body { 
	margin: 0; 
	padding: 0; 
	background: #000;
	color: #fff; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	height: auto !important;
	min-height: 1024px;
	height: 1024px;
	width: 100%;
}

div, img, table, td, fieldset, legend, form, h1, h2, h3, h4, h5, h6, p, ul  {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

table {
	border-collapse: collapse;
	font-size: 1em;
}

img, abbr, acronym {
	border: 0 none;
}

.hr {
	height: 0;
	font-size: 0;
	background-color: White;
	border: 0px solid white;
	border-top: 1px solid #999999;
	margin: 7px 0 5px 0;
}

sup {
	vertical-align: text-top;
}

/***********/
/** typos **/
/***********/

#contenu p, #contenu ul {
	padding: 0 0 10px 0;
}

.sommaire {
	color: #666567;
}

.formation {
	color: #2F7190;
}

.outils {
	color: #F47828;
}

a {
	color: #fff;
	outline: 0 none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#container a {
	color: #414042;
}

#container a.spip_out {
	color: #4B267F;
}

#container a.spip_ancre {
	color: blue;
}

#container a.spip_glossaire {
	color: #006600;
}

#container a.spip_note {
	color: blue;
}

#container a.formation {
	color: #2f7190;
}

#container a.formation:hover {
	color: #36f;
	text-decoration: none;
}

#container a.outils {
	color: #F47828;
}

#container a.outils:hover {
	color: red;
	text-decoration: none;
}

ul.listeArticles {
	padding: 0 0 40px 0 !important;
	background: transparent url(../images/bg_listeArticles.gif) bottom center no-repeat;
}

ul.articlesEntiers {
	background-image: none;
	padding: 0 !important;
}

.listeArticles li {
	padding: 0 0 0 20px;
	background: transparent left 5px no-repeat;
	margin-top: 10px;
	width: 510px;
	text-align: justify;
}

.articlesEntiers li {
	background-position: left 1.3em;
}

.listeArticles li.listeFormation {
	background-image: url(../images/puce_sommaire_formation.gif);
}

.listeArticles li.listeOutils {
	background-image: url(../images/puce_sommaire_outils.gif);
}

p.dateSommaire {
	color: #414042;
}

p.txtSommaire {
	text-align: justify;
}

.lireSuite {
	float: right;
	padding: 0 !important;
}

/*titraille*/

h1 {
	text-align: center;
	margin: 0 0 5px 0;
	font-size: 18px;
	color: #666567;
	font-weight: normal;
}

h2, .h2, h2.spip {
	font-size: 18px;
	font-weight: normal;
	color: #b2b1b2;
	text-align: center;
	padding: 0 0 0 10px;
}

h2.spip {
	font-size: 1.8em;
	font-weight: bold;
}

#main h2, #main .h2, #main h2.spip {
	padding: 30px 0 20px 0;
}

#main h1.titArticle, #main h2.titArticle {
	font-size: 24px;
	text-align: left;
	color: #666567;
	margin: 0;
	padding: 0;
}

h3 {
	color: #7d7d7d;
}


h3.spip { 
	text-align: left; 
	color: #b2b1b2; 
	margin-top: 1.5em; 
	margin-bottom: 0.5em; 
	font-size: 1.5em; 
	font-weight: 700; 
	font-variant: small-caps;
	font-stretch: condensed; 
	font-family : Minion web, Myriad web, Gill Sans, Georgia, Verdana}


h4, h5, h6 {
	font-weight: bold;
	padding: 0pt 20px;
}

h4.spip {
	font-size: 1.2em;
	color: #626262;
	margin: 1.1em 0pt 1em;
}

h5, h6 {
	color: #434343;
	margin: 1em 0pt 0.9em;
}

h5.spip {
	font-size: 0.9em;
}

h6.spip {
	font-size: 0.8em;
}

.auteurArticle {
	font-size: 1em;
	color: #8b8a8c;
}

/*divers*/

acronym.spip_acronym {
	border-bottom: 1px dotted;
	color: red;
	cursor: help;
}

div.hrspip {
	clear: both;
	background: #fff url(../images/bg_listeArticles.gif) no-repeat center bottom;
	margin: 8px auto;
	height: 1px;
	border: 0 none;
}

div.hrspip hr {
	display: none;
}

img.biblio {
	vertical-align: bottom;
}

/*tableaux*/

table.spip {
	border: 1px solid silver;
}

table.spip tr.row_first {
	background: #B1D3DE none repeat scroll 0% 50%;
}

/* formulaires */

fieldset {
	border: 1px solid #A5A9B1;
	padding: 20px 15px 10px 15px;
	margin: 0 0 15px 0;
}

legend {
	color: #409ec4;
	padding: 0 5px;
}

* html legend {
	margin: 0 0 20px 0;
}

.buttons {
	text-align: right;
}

input, select, label {
	vertical-align: middle;
}

label {
	cursor: pointer;
	padding-bottom: 10px;
}

input, select, textarea {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #414042;
}

.inputTxt {
	border: 1px solid #a5a9b1;
	padding: 2px 0;
}

.formLinks {
	text-align: center;
}

.formLinks li {
	display: inline;
	padding: 0 5px;
}


/***************/
/** Structure **/
/***************/

/* blocs flott�s */

.floatLeft {
	float: left;
	margin: 0 .5em 0 0;
	padding: 0 !important;
}

.floatRight {
	float: right;
	margin: 0 0 0 .5em;
	padding: 0 !important;
}

body {
	background: #000 url(../images/bg_body.gif) top left repeat-x;
	padding: 43px 0 5px 0;
}

* html body {
	padding: 43px 0 33px 0;
}

#container {
	width: 841px;
	margin: 0 auto 0 auto;
	text-align: left;
	height: auto !important;
	min-height: 948px;
	height: 948px;
	background: transparent url(../images/bg_container.png) top left repeat-y;
	color: #414042;
}

* html #container {
	height: 100%;
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg_container.png', sizingMethod='scale');
}

#header {
	background: transparent url(../images/bg_header.gif) top left no-repeat;
	margin: 0 0 25px 0;
	position: relative;
}

#contenu {
	margin: 0 3px;
	padding: 0 57px 45px 30px;
	position: relative;
}

#footer {
	background: transparent url(../images/bg_footer.gif) bottom left no-repeat;
	width: 841px;
	margin: 0 auto 0 auto;
	position: relative;
	text-align: center;
	font-size: 10px;
	padding: 10px 0;
}


/* d�tails des blocs principaux dans l'ordre de l'html */

#prelude {
	float: right;
	text-align: right;
	font-size: 10px;
	margin: 55px 60px 0 0;
}

* html #prelude {
	margin: 55px 30px 0 0;
}

#prelude a {
	color: #b1b0b1;
}

#logo {
	float: left;
	margin: 10px 0 0 30px;
}

* html #logo {
	margin: 10px 0 0 15px;
}

#searchForm {
	float: right;
	clear: right;
	margin: 10px 60px 0 0;
	font-size: 10px;
}

* html #searchForm {
	margin: 10px 30px 0 0;
}

#searchForm p {
	position: relative;
	float: left;
	margin-right: 3px;
	clear: left;
}

label.over-apply {
	position: absolute;
	top: 3px;
	left: 2px;
}

#menu {
	clear: both;
	text-align: center;
	background: transparent url(../images/bg_top_menu.gif) top center no-repeat;
	padding: 4px 0 0 0;
	margin: 0 3px;
	font-size: 15px;
	letter-spacing: .2em;
	position: relative;
}

#menu ul {
	/*background: transparent url(../images/bg_bottom_menu.gif) bottom center no-repeat;*/
	background: transparent url(../images/bg_top_menu.gif) bottom center no-repeat;
	padding: 0 0 7px 0;
}

#menu li {
	display: inline;
}

#menu li a {
	padding: 0 4px 0 0;
}

#menu li a.formation {
	color: #414042;
}

#ariane {
	font-size: 10px;
	margin: 10px 60px;
	position: relative;
}

#main {
	float: right;
	width: 530px;
	margin: 30px 0 0 0;
}

#sidebar {
	float: left;
	width: 165px;
	padding: 0 25px 0 0;
	margin: 30px 0 0 0;
	background: transparent url(../images/bg_sommaire.gif) center right no-repeat;
}

#footer, #footer a {
	color: #666567;
}

#footer li {
	display: inline;
}

#footer img {
	vertical-align: middle;
}


/****************************************************/
/* Blocs sp�cifiques (sous-nav, sommaire, 404, etc) */
/****************************************************/

/* Page 404 */

#bloc404 {
	width: 430px;
	padding: 0 0 0 30px;
	margin: 0 auto;
}

#bloc404 h1 {
	color: Red;
	font-size: 44px;
}

#bloc404 div {
	border: 1px solid #7D7D7D;
	text-align: justify;
	padding: 15px 10px 5px 10px;
	line-height: 1.5em;
}

/* Acc�s � l'espace priv� */

#accesPrive {
	width: 445px;
	padding: 0 0 0 30px;
	margin: 90px auto;
}

#accesPrive #login {
	width: 250px;
}

/* sommaire */

#edito {
	width: 660px;
	padding: 15px 35px 5px 20px;
	margin: 20px 0 20px 30px;
	border: 2px solid #98b8c8;
	-moz-border-radius : 12px;
	line-height: 1.5em;
	position: relative;
}

#edito {
	width: 654px;
}

#edito h1 {
	position: absolute;
	left: -1000em;
}

#edito h2 {
	line-height: 1.5em;
	padding: 0;
}

#edito p {
	line-height: 1.5em;
	font-size: 18px;
}

#edito #plume {
	position: absolute;
	top: -30px;
	left: 313px;
}

.sommaire {
	width: 325px;
	padding: 20px 30px 20px 0;
	float: left;
}

.sommaire h2 {
	padding: 0;
}

.sommaire .listeArticles {
	padding: 0;
	background-image: none;
}

.sommaire li {
	width: 305px;
	padding: 0 0 0 25px;
	background-position: 5px 5px;
}

.sommaire .lireSuite {
	margin-top: -15px;
}

#sommaire1 {
	background: transparent url(../images/bg_sommaire.gif) center right no-repeat;
	margin: 0 0 0 35px;
}

* html #sommaire1 {
	margin: 0 0 0 14px;
}

#sommaire2 {
	padding: 20px 0 20px 30px;
}

/* identification */

#ident {
	width: 460px;
}

/* liste des rubriques */

#rubriques {
	font-size: 10px;
	margin: 30px 0 0 0;
}

#rubriques ul {
	padding: 0;
}

#rubriques div.hitarea {
	height: 15px;
	width: 15px;
	margin-left: -15px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html #rubriques div.hitarea {
	background: #fff;
	filter: alpha(opacity=0);
	display: inline;
	float:none;
}

#rubriques li {
	padding: 0 0 2px 12px;
	background: transparent url(../images/puce_rubriques_n1_f.gif) left .4em no-repeat;
	clear: both;
}

#rubriques li.collapsable {
	background-image: url(../images/puce_rubriques_n1_o.gif);
}

#rubriques li.expandable {
	background-image: url(../images/puce_rubriques_n1_f.gif);
}

#rubriques li li.collapsable {
	background-image: url(../images/puce_rubriques_n2_o.gif);
}

#rubriques li li.expandable, #rubriques li li {
	background-image: url(../images/puce_rubriques_n2_f.gif);
}

#rubriques li li li.collapsable {
	background-image: url(../images/puce_rubriques_n3_o.gif);
}

#rubriques li li li.expandable, #rubriques li li li {
	background-image: url(../images/puce_rubriques_n3_f.gif);
}

#rubriques li.open > a {
	font-weight: bold;
}

/* articles de la m�me rubrique */

#memeRubrique {
	margin: 20px 0 0 0;
	padding: 0 0 20px 0;
	font-size: 9px;
	font-family: Arial, Helvetica, sans-serif;
	background: transparent url(../images/bg_memeRubrique.gif) bottom center no-repeat;
}

#memeRubrique li {
	padding: 0 0 0 12px;
	background: transparent url(../images/puce_memeRubrique.gif) left .4em no-repeat;
}

#memeRubrique li h3 {
	font-size: 9px;
}


/* contenus des articles */

.blocContenuArticle, .blocMoreArticle {
	padding: 0 0 15px 0;
	margin: 0 0 20px 0;
	background: transparent url(../images/bg_listeArticles.gif) bottom center no-repeat;
}

.blocMoreArticle {
	font-size: 11px;
	margin: 0 0 30px 0;
}

.blocContenuArticle a, .blocMoreArticle a {
	color: #2f7190;
	text-decoration: underline;
}

.blocContenuArticle a:hover, .blocMoreArticle a:hover {
	text-decoration: none;
}

/*listes imbriqu�es dans les articles de spip*/

.spip li { 
	background: transparent url(../images/pucearticle01.png) left .6em no-repeat;
	padding-left: 13px;
	margin: 0 0 5px 5px;
}

* html .spip li {
	padding-left: 13px;
}

.spip .spip li { 
   background-image: url(../images/pucearticle02.png);
	margin-left: -13px;
	padding-left: 26px;
} 

.spip .spip .spip li { 
   background-image: url(../images/pucearticle03.png);
	padding-left: 39px;
	margin-left: -26px;
}

/* plan */

#plan {
	-moz-column-count: 2;
	-moz-column-gap: 2em;
	padding-bottom: 60px;
}

#plan h2 {
	font-weight: normal;
	font-size: 1em;
	background: transparent url(../images/puce_plan.gif) center left no-repeat;
	padding: 0 0 0 15px;
}

#plan h2 a {
	color: #7f7f81;
}

#plan ul {
	padding: 0 0 0 10px;
	margin: 0 0 0 15px;
}

#plan ul ul {
	margin: 0;
}

#plan ul a {
	font-size: 11px;
	color: #4d4d4f;
}

#plan ul ul a {
	font-size: 10px;
	color: #1f1f20;
}

#plan ul ul ul a {
	font-size: 9px;
	color: #000000;
}

#plan ul a:hover {
	color: #00B100;
}



/* Clearfix */
.clearfix:after, .listeArticles li:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix, .listeArticles li { display:inline-block; }
/* Hides from IE-mac \*/
* html .clearfix, * html .listeArticles li { height:1%; }
.clearfix, .listeArticles li { display:block; }
/* End hide from IE-mac */

/* Pour styler les formulaires de spip */
.formulaire_spip {
color:black;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:normal;
margin:0px 0px 16px;
padding:6px;
border:none;
}

.formulaire_spip fieldset {
margin:0.5em 0pt;
padding:0.4em 0.4em 1em 1em;
border: solid 1px #41C0EC;
}
.formulaire_spip ul li {padding-left:160px;clear:both;padding-bottom:10px;}
.formulaire_spip ul li.fieldset {padding-left:0;}

.formulaire_spip label {
	display: block;
	float: left;
	text-align: right;
	font-size: 11px;
	width: 130px;
	padding: 0;
	margin-left:-160px;
	position:relative;
	display:inline;
}
.label_obligatoire {display:block;}
.formulaire_spip .choix label {width:auto;float:none;display:inline;text-align:left;margin:0;}

.formulaire_spip .boutons {
	clear: both;
	line-height: 1.5em;
}

.formulaire_spip input.text,
.formulaire_spip input.password,
.formulaire_spip textarea,.formulaire_spip select {
	width: 300px;
	background:#FFFDE7 none repeat scroll 0% 50%;
	color:#4A4336;
}

.formInfo a, .formInfo a:active, forminfo a:visited {
color:#FFFFFF;
float:right;
font-size:1.3em;
font-weight:bold;
margin-left:5px;
padding:1px 2px;
text-decoration:none;
}

a.jTip{background:none;text-decoration:none;color:red!important;}

.formulaire_spip .boutons input.submit {
background:white none repeat scroll 0% 50%;
border:1px solid #409EC4;
color:#409EC4;
cursor:pointer;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1em;
font-weight:bold;
padding:0.4em;
width:100px;
}
.formulaire_spip label {
margin-top:0.4em;
}

div.spip_descriptif {font-style:italic;color:red;font-weight:bold;}

p.spip_form_ok {
padding:10px!important;
}

.spip_forms .spip_form_ok {
background:#347BA2 none repeat scroll 0% 50% !important;
color:#F1F1F1;
font-weight:bold;
margin:1em 0pt 0pt;
padding:0.6em;
}

a.jTip {
background:transparent none repeat scroll 0%;
color:#41C0EC !important;
text-decoration:none;
}

/* reprise du plugin eluminures typo */
.caractencadre-spip {
	color:#FF6600;
	font-weight:bold;
}

#spip-debug {color:#000;}
#spip-debug a {color:#303;}